@import "fonts";
@import "rouge-github";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background-color: #fff;
  padding: 50px;
  font: 18px/1.75 "Inter", "Roboto", sans-serif;
  color: #000;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  margin: 0 0 20px;
}

p,
ul,
ol,
table,
pre,
dl {
  color: #0e162a;
  margin: 0 0 20px;
  font-size: 18px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 34px;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: black;
}

a small {
  font-size: 11px;
  color: #777;
  margin-top: -0.3em;
  display: block;
}

a:hover small {
  color: #777;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.left,
.right {
  flex: 1;
}

.left {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 5%;
  margin-top: 2%;
  margin-left: 5%;
}

.grid-container {
  display: grid;
  padding: 10px;
  grid-template-columns: 400px 400px; 
  grid-template-rows: 400px 400px;
}

.grid-container > :nth-child(4) {
  display: none; /* Hides the 4th child element */
}

.grid-item {
  background-color: #fafafd;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
  text-align: start;
  margin: 5px; /* Spacing between projects */
  overflow: auto; // Add this line

}

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal,
    Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: #333;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}

dt {
  color: #444;
  font-weight: 700;
}

th {
  color: #444;
}

img {
  width: 100%;
  height: 60%;
  border-radius: 10px;
  object-fit: cover;
}

kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

header {
  width: 400px;
  float: left;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;
}

ul.downloads {
  list-style: none;
  height: 40px;
  padding: 0;
  background: #f4f4f4;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  width: 270px;
}

.downloads li {
  width: 89px;
  float: left;
  border-right: 1px solid #e0e0e0;
  height: 40px;
}

.downloads li:first-child a {
  border-radius: 5px 0 0 5px;
}

.downloads li:last-child a {
  border-radius: 0 5px 5px 0;
}

.tech-list {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.tech-tag {
  padding: 5px 10px;
  margin: 0 5px;
  // background-color: #ddd;
  border: 1px solid rgb(149, 149, 149);
  border-radius: 20px;
  font-size: 12px;
}

.item-title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.item-content {
  margin: 5px 0;
  font-size: 16px;
}

.downloads a {
  line-height: 1;
  font-size: 11px;
  color: #676767;
  display: block;
  text-align: center;
  padding-top: 6px;
  height: 34px;
}

.downloads a:hover,
.downloads a:focus {
  color: #675c5c;
  font-weight: bold;
}

.bio_info {
  font-size: 14px;
}

.downloads ul a:active {
  background-color: #f0f0f0;
}

strong {
  color: #222;
  font-weight: 700;
}

.downloads li + li + li {
  border-right: none;
  width: 89px;
}

.downloads a strong {
  font-size: 14px;
  display: block;
  color: #222;
}

section {
  width: 500px;
  float: right;
  padding-bottom: 50px;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px;
}

footer {
  width: 270px;
  float: left;
  position: fixed;
  bottom: 50px;
  -webkit-font-smoothing: subpixel-antialiased;
  margin-top: 20px;
}

@media print, screen and (max-width: 1400px) {

  .container {
    flex-direction: column;
  }

  .left {
    margin-bottom: 20px;
  }


  header,
  section,
  footer {
    float: none;
    position: static;
    width: auto;
  }

  footer {
    float: left;
  }

  header {
    padding-right: 320px;
  }

  header a small {
    display: inline;
  }

  header ul {
    position: absolute;
    right: 50px;
    top: 52px;
  }
}

@media print, screen and (max-width: 720px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr); /* One column */
    grid-template-rows: repeat(3, 1fr); /* Four rows */

  }
  body {
    word-wrap: break-word;
  }

  .left {
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .right {
    margin-right: 2%;
    margin-left: 2%;
  }

  header {
    padding: 0;
  }

  header ul,
  header p.view {
    position: static;
  }

  pre,
  code {
    word-wrap: normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding: 15px;
  }

  .downloads {
    width: 99%;
  }

  .downloads li,
  .downloads li + li + li {
    width: 33%;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}
